### https://stackoverflow.com/questions/54993375/resizing-a-r-x-c-array-to-r2-x-c-1/54993758#54993758

In [1]:
import numpy as np
import pandas as pd

mor = np.linspace(80,85,10)
ev=np.linspace(82,87,10)

df=pd.DataFrame()
df['mor']=mor
df['ev']=ev
df.index.name='day'

x=np.zeros(mor.shape[0] * 2)*np.nan

for i in np.arange(0,len(mor)):
    x[2*i]=mor[i]
    x[2*i+1]=ev[i]

df_output =pd.DataFrame()
df_output['day']=np.repeat(df.index,2)
df_output['value']=x

In [2]:
df

           mor         ev
day
0    80.000000  82.000000
1    80.555556  82.555556
2    81.111111  83.111111
3    81.666667  83.666667
4    82.222222  84.222222
5    82.777778  84.777778
6    83.333333  85.333333
7    83.888889  85.888889
8    84.444444  86.444444
9    85.000000  87.000000

In [3]:
%%timeit
day = np.arange(df.size, dtype=np.int32) // 2
value = np.zeros(df.size)
value[::2] = df['mor']
value[1::2] = df['ev']
df_output2 = pd.DataFrame({'day': day, 'value': value})

484 µs ± 22.1 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [4]:
%%timeit
df_output3 = df.stack().reset_index(level='day').reset_index(drop=True).rename(columns={0: 'value'})

1.57 ms ± 4.73 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [5]:
%%timeit
df_output4 = pd.DataFrame({
    'day': df.index.repeat(df.shape[1]),
    'value': df.values.reshape(-1)
})

460 µs ± 8.87 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [6]:
stacked_df = pd.DataFrame({
    df.index.name: df.index.repeat(df.shape[1]),
    'value': df.values.reshape(-1)
})

In [7]:
%%timeit
stack = df.stack()

378 µs ± 4.65 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [8]:
%%timeit
stack = df.stack().reset_index('day')

1.13 ms ± 2.91 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)